/* 320 */
@media only screen and (min-width: 320px) {
  .dt-header-categories__img img {
    width: 150px;
    border-radius: 50%;
  }
  .dt-header-categories {
    padding: 20px 0 15px 0;
    height: auto;
  }
  .dt-header-categories .dt-header-category-item {
    margin-top: 20px;
  }
  .dt-header-category-item .dt-header-category-name {
    color: #fff;
  }
  .dt-module-title .dt-module-background-title {
    font-size: 120px;
  }
  .dt-module-title .dt-module-front-title {
    color: #9ea9a9;
    margin-top: -20px;
  }
  .dt-module-title .dt-module-front-title::after,
  h1.entry-title::after {
    background: #AA2F4B;
    box-shadow: none;
  }
  .dt-quote-page img {
    border-radius: 50%;
  }
  .site-footer-wrapper {
    margin-top: 50px;
  }
  .site-footer-wrapper.minimal .footer-bottom-container {
    background-color: #121212;
  }
  .site-footer-wrapper.minimal .dt-footer-copyright {
    color: #AD8140;
  }
  .centrale-coach-text {
    text-align: center;
  }
  header nav.site-navigation > div > ul.nav-menu > li > ul li a span {
    color: #50514F !important;
  }
  header nav.site-navigation > div > ul.nav-menu > li > ul li a span:hover,
  header nav.site-navigation > div > ul.nav-menu > li > ul li a span:focus {
    color: #AD8140 !important;
  }
  .service-img img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .service-img img:hover,
  .service-img img:focus {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
  }
  .service-img-link {
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Poppins';
    color: #AD8140;
  }
  .service-img-link:hover,
  .service-img-link:focus {
    color: #121212;
  }
  .service-img .wpb_content_element {
    margin-bottom: 0 !important;
    text-align: center;
  }
  .service-img p {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding-bottom: 0 !important;
  }
  .service-img .conferences-title {
    color: #AD8140;
    font-size: 16px;
  }
  .service-img .conferences-title:hover,
  .service-img .conferences-title:focus {
    color: #121212;
  }
  .header-img-div {
    margin-bottom: 10px;
  }
  .bloc-icons img {
    border-bottom: 1px solid #9b9b9b;
  }
  .bloc-icons .icon-title {
    color: #9b9b9b;
  }
  .bloc-icons .wpb_content_element {
    margin-bottom: 25px;
  }
  .c-c-page-text h3 {
    padding-top: 0;
  }
  .c-c-page-text p {
    padding-bottom: 0;
  }
  .c-c-page-text img {
    margin-right: 30px;
  }
  .c-c-page-text h3 strong,
  .c-c-page-text h5 {
    color: #AA2F4B;
  }
  .c-c-page-text strong {
    color: #AD8140;
  }
  .c-c-page-text .color-gold {
    color: #AD8140;
  }
  .c-c-page-text .color-blue {
    color: #073763;
  }
  .c-c-page-text .color-grenat {
    color: #AA2F4B;
  }
  .db-choose-package {
    border-color: #AD8140;
    color: #AD8140;
  }
  .db-choose-package:hover,
  .db-choose-package:focus {
    background-color: #AD8140;
    color: #fff;
  }
  li.popular .db-choose-package:hover,
  li.popular .db-choose-package:focus {
    border-color: #AD8140;
    background-color: #AD8140;
    color: #fff;
  }
  .footer-menu-wrapper {
    background-color: transparent;
  }
  .site-footer-wrapper.minimal .footer-menu-wrapper > div > ul li a {
    color: #AD8140;
  }
  .site-footer-wrapper.minimal .footer-menu-wrapper > div > ul li a:hover,
  .site-footer-wrapper.minimal .footer-menu-wrapper > div > ul li a:focus {
    color: #fff;
  }
  .c-c-input,
  input:not([type="submit"]) {
    height: 40px !important;
    line-height: 40px !important;
    border-radius: 4px;
  }
  .c-c-input:focus,
  input:not([type="submit"]):focus {
    border: 2px solid #AD8140 !important;
    border-radius: 4px;
  }
  .c-c-label {
    color: #50514F;
  }
  .c-c-textarea,
  .field-wrap textarea {
    padding: 10px !important;
    border-radius: 4px;
  }
  .c-c-textarea:focus,
  .field-wrap textarea:focus {
    border: 2px solid #AD8140 !important;
    border-radius: 4px;
  }
  .c-c-submit {
    border: 2px solid #AD8140;
  }
  input[type="submit"] {
    border: 2px solid #AD8140 !important;
  }
  .nf-field-label label {
    color: #50514F;
    font-size: 16px !important;
    font-weight: normal !important;
  }
  .label-above .nf-field-label {
    margin-bottom: 0 !important;
  }
  #content .wpb_text_column {
    font-size: 13px;
  }
  .site-footer-wrapper.minimal .widget_wysija form [type="submit"] {
    border: none !important;
  }
  .field-wrap select {
    padding-left: 5px !important;
    height: 40px !important;
    line-height: 40px !important;
    border: 2px solid #AD8140 !important;
    border-radius: 4px;
  }
  input[type="button"] {
    margin-top: 50px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 2px solid #AD8140 !important;
  }
  #footer-sidebar p {
    text-align: center;
  }
}
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .header-img-div {
    margin-bottom: 50px;
  }
  #footer-sidebar p {
    text-align: left;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .dt-header-categories__img img {
    width: 150px;
    border-radius: 50%;
  }
  .dt-header-categories {
    padding: 20px 0 15px 0;
    height: auto;
  }
  .dt-header-categories .dt-header-category-item {
    margin-top: 20px;
  }
  .dt-module-title .dt-module-background-title {
    font-size: 120px;
  }
  .dt-module-title .dt-module-front-title {
    margin-top: -20px;
  }
  .dt-quote-page img {
    border-radius: 50%;
  }
  .site-footer-wrapper {
    margin-top: 50px;
  }
  .service-img-link {
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
  }
  .header-img-div {
    margin-bottom: 50px;
  }
}
